@use '@/styles/helpers' as *;
@use 'sass:math';

.wiki {
  --gap: #{fluid(40, 20)}; // used in Article and Navigation

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  @include mobile {
    flex-direction: column;
    row-gap: rem(30);
  }
}
