@use '@/styles/helpers' as *;

.alert {
    display: flex;
    flex-direction: row;
    column-gap: fluid(20, 10);
    justify-content: space-between;
    padding: fluid(30, 20);
    border-radius: fluid(30, 20);
}

.notActivated {
    background-color: var(--color-yellow-10);
    border: border(var(--color-yellow));
}

.hasNotPass {
    background-color: var(--color-red-20);
    border: border(var(--color-red-10));
}

.body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 5);
}

.title {
    margin: 0;
}

.description {
    margin: 0;
}