@use '@/styles/helpers' as *;

.alert {
    display: flex;
    flex-direction: row;
    column-gap: fluid(20, 10);
    justify-content: space-between;
    align-items: center;
    padding: fluid(30, 20);
    border-radius: fluid(30, 20);
    background-color: var(--color-gray-25);
    border: border(var(--color-gray-20));
}

.content {
    display: flex;
    flex-direction: row;
    column-gap: fluid(20, 10);
    align-items: center;
}

.icon {
    caret-color: transparent;

    &Wrapper {
        @include square(fluid(100, 60)); 
        
        flex-shrink: 0;
        border-radius: rem(100);
        padding: fluid(20, 10);
    }
}

.body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 5);
}

.title {
    margin: 0;
}

.description {
    margin: 0;
}

.button {
    flex-shrink: 0;
}

.yellow {
    background-color: var(--color-yellow-10);
}

.red {
    background-color: var(--color-red-20);
}