@use '@/styles/helpers' as *;

.warns {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);

    &List {
        --padding: #{rem(10)};
        --borderRadius: #{fluid(30, 20)};

        min-height: rem(300);
        max-height: rem(400);
        display: flex;
        flex-direction: column;
        row-gap: fluid(10, 5);
        padding: var(--padding);
        background-color: var(--color-gray-25);
        border: border(var(--color-gray-20));
        border-radius: var(--borderRadius);
        user-select: none;
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: fluid(20, 15);
            background-color: var(--color-yellow-10);
            border: border(var(--color-yellow));
            border-radius: calc(var(--borderRadius) - var(--padding));
            padding: fluid(20, 10);
        }

        &__icon {
            height: fluid(100, 50);
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: fluid(5, 0);
        }

        &__reason {
            margin-bottom: fluid(20, 10);
        }

        &__expires {
            @include fluid-text(18, 14);
            color: var(--color-gray);
        }
    }
}

.isEmpty {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: 'нет предупреждений';
        color: var(--color-gray);
    }
}