{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSameLine": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf"
}
