@font-face {
  font-family: 'Abril Fatface';
  src: url('@/assets/fonts/AbrilFatface-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Yeseva One';
  src: url('@/assets/fonts/YesevaOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  font-weight: 400;
  src: url('@/assets/fonts/PTSerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  font-weight: 700;
  src: url('@/assets/fonts/PTSerif-Bold.woff2') format('woff2');
}
