@use './helpers' as *;

:root {
  --color-light: #ffffff;

  --color-dark: #000000;
  --color-dark-10: #272727;

  --color-accent: #62e27d;
  --color-accent-10: #b8f0c4;

  --color-red: #ff6464;
  --color-red-10: #ffc4c4;
  --color-red-20: #ffdddd;

  --color-yellow: #ffeca8;
  --color-yellow-10: #fffad1;

  --color-gray-25: #fcfcfc;
  --color-gray-20: #f7f7f7;
  --color-gray-10: #e9e9e9;
  --color-gray: #808080;

  --color-select: var(--color-dark);

  --border-split: #{rem(1)} solid var(--color-gray-10);
  --border-dark: #{rem(1)} solid var(--color-dark);

  --shadow-color: 0, 0, 0;
  --shadow: 0 0 1rem rgba(var(--shadow-color), 0.15);

  --section-padding: #{fluid(80, 40)};

  --font-family-base: 'PT Serif', sans-serif;
  --font-family-accent: 'Yeseva One', sans-serif;
  --font-family-logo: 'Abril Fatface', sans-serif;

  --container-width: #{rem(1100)};
  --container-big-width: #{rem(1600)};
  --container-padding-x: #{fluid(96, 16)};

  --transition-duration: 0.2s;

  --100vw: calc(100vw - var(--scrollbar-width));

  @include tablet {
    --container-padding-x: #{rem(24)};
  }
}

[theme='dark'] {
  --color-light: #101010;
  --color-dark: #f0f0f0;
  --color-dark-10: #f0f0f0;

  --color-accent: #68e983;
  --color-accent-10: #426e4d;

  --color-red: #ff8282;
  --color-red-10: #6e4242;
  --color-red-20: #573838;

  --color-yellow: #ffebb3;
  --color-yellow-10: rgba(255, 235, 179, 0.4);

  --color-gray-25: #181818;
  --color-gray-20: #292929;
  --color-gray-10: #3f3f3f;
  --color-gray: #8f8f8f;

  --color-select: var(--color-gray-25);

  --shadow-color: 120, 120, 120;
}
