@use '@/styles/helpers' as *;

.list {
    padding-block: var(--section-padding);
    background-color: var(--color-gray-25);
    flex-grow: 1;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: row;
        column-gap: fluid(50, 25);
    }

    &__image {
        height: fluid(100, 50);

        &Wrapper {
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: fluid(30, 15);
            background-color: var(--color-accent-10);
            border: border(var(--color-accent));
            border-radius: fluid(30, 15);
            user-select: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: fluid(15, 7);
    }
}