@use '@/app/styles/helpers' as *;

.list {
  display: flex;
  flex-direction: row;
  column-gap: rem(20);

  &__item {
    display: flex;
    padding: fluid(8, 4);
    transition-duration: var(--transition-duration);
    border-radius: rem(30);

    @include hover {
      background-color: var(--color-gray-20);
    }
  }

  &__link {
    aspect-ratio: 1;
    height: fluid(40, 30);
  }
}
