@use '@/styles/helpers' as *;

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  -webkit-user-select: none;
  user-select: none;
}

.registration {
  max-width: fluid(450, 330);
  display: flex;
  flex-direction: column;
  row-gap: fluid(35, 25);
  background-color: var(--color-gray-25);
  padding: fluid(50, 25);
  border-radius: fluid(50, 25);

  &__title {
    -webkit-user-select: text;
    user-select: text;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(25, 20);
  }

  &__or {
    align-self: center;
    color: var(--color-black-10);
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 20);
  }
}

.form {
  &__input {
    flex-grow: 1;
    padding-bottom: fluid(10, 5);
    border: none;
    border-bottom: border(var(--color-gray-10), 2);
    background-color: transparent;

    &:focus-visible {
      outline: none;
      border-color: var(--color-accent);
    }

    &.invalid {
      border-color: var(--color-red);
    }
  }

  &__passwordInput {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__showPassword {
    @include square(fluid(30, 20));

    svg {
      color: var(--color-dark);
      width: 100%;
      height: 100%;
    }
  }

  &__error {
    color: var(--color-red);
    align-self: center;
    text-align: center;
  }

  &__disclaimer {
    @include fluid-text(18, 14);

    align-self: center;
    text-align: center;
    user-select: text;
    caret-color: var(--color-dark);
  }
}

.mail {
  max-width: rem(600);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(20, 10);
  padding: fluid(50, 25);
  border-radius: fluid(50, 25);
  background-color: var(--color-gray-25);
  animation: mailFadeIn 0.5s ease 0s 1;

  @keyframes mailFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__iconWrapper {
    @include square(rem(100));

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    padding: rem(25);
    border-radius: rem(60);
  }

  &__icon {
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    align-items: center;
    -webkit-user-select: none;
    user-select: text;
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--border-split);
    margin-top: rem(30);
    padding-top: rem(10);
  }
}
