@use '@/styles/helpers' as *;

.button {
    @include fluid-text(20, 16);

    border: #{rem(3)} solid transparent;
    padding: fluid(15, 10);
    border-radius: fluid(15, 10);
    user-select: none;
    transition-duration: var(--transition-duration);

    @include hover {
        opacity: 0.8;
    }
}

.accent {
    background-color: var(--color-accent);
}

.red {
    background-color: var(--color-red);
}

.redPale {
    background-color: var(--color-red-20);
    border: border(var(--color-red-10));
}

.yellow {
    background-color: var(--color-yellow);
}

.dark {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.isBig {
    @include fluid-text(24, 16);

    padding: fluid(30, 15);
    border-radius: fluid(30, 15);
}