@use '@/styles/helpers' as *;

.punishments {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  max-height: 45vh;
}

.list {
  --padding: #{rem(10)};
  --borderRadius: #{fluid(30, 20)};

  height: rem(400);
  display: flex;
  flex-direction: column;
  row-gap: fluid(10, 5);
  padding: var(--padding);
  background-color: var(--color-gray-25);
  border: border(var(--color-gray-20));
  border-radius: var(--borderRadius);
  -webkit-user-select: none;
  user-select: none;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: fluid(20, 15);
    border-radius: calc(var(--borderRadius) - var(--padding));
    padding: fluid(20, 10);
    background-color: var(--color-gray-20);
    border: border(var(--color-gray-10));
  }

  &__iconWrapper {
    @include square(fluid(100, 70));

    background-color: var(--color-red-10);
    border-radius: rem(60);
    padding: fluid(20, 15);
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(5, 0);
    -webkit-user-select: none;
    user-select: text;
  }

  &__reason {
    margin-bottom: fluid(10, 5);
  }

  &__date {
    @include fluid-text(18, 14);
    color: var(--color-gray);
  }
}

.warn {
  background-color: var(--color-yellow-10);
}

.ban {
  background-color: var(--color-red-20);
}

.mute {
  background-color: var(--color-gray-10);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: 'нет наказаний';
    color: var(--color-gray);
  }
}

.poshalko {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    @include square(fluid(300, 200));

    content: '';
    background: url('@/assets/images/poshalko.jpg') center/cover no-repeat;
    border-radius: fluid(30, 20);
  }
}
