@use '@/styles/helpers' as *;

.punishments {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);

    &List {
        --padding: #{rem(10)};
        --borderRadius: #{fluid(30, 20)};

        height: rem(400);
        display: flex;
        flex-direction: column;
        row-gap: fluid(10, 5);
        padding: var(--padding);
        background-color: var(--color-gray-25);
        border: border(var(--color-gray-20));
        border-radius: var(--borderRadius);
        -webkit-user-select: none;
        user-select: none;
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: fluid(20, 15);
            border-radius: calc(var(--borderRadius) - var(--padding));
            padding: fluid(20, 10);
        }

        &__icon {
            height: fluid(100, 50);
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: fluid(5, 0);
            -webkit-user-select: none;
            user-select: text;
        }

        &__reason {
            margin-bottom: fluid(10, 5);
        }

        &__expires {
            @include fluid-text(18, 14);
            color: var(--color-gray);
        }
    }
}

.warn {
    background-color: var(--color-yellow-10);
    border: border(var(--color-yellow));
}

.ban {
    background-color: var(--color-red-20);
    border: border(var(--color-red-10));
}

.mute {
    background-color: var(--color-gray-20);
    border: border(var(--color-gray-10));
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isEmpty {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: 'нет наказаний';
        color: var(--color-gray);
    }
}