@use '@/styles/helpers' as *;

.topLoader {
  position: fixed;
  top: fluid(90, 52);
  left: 0;
  height: rem(5);
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
}

.topLoader::after {
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  opacity: 0;
}

.topLoader.active::after {
  opacity: 1;
  animation: slide 0.7s forwards;
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
