@use '@/styles/helpers' as *;

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: rem(-70);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(.2,.6,.11,.96);
}

.appeared {
    bottom: fluid(40, 20);
}

.tile {
    background-color: var(--color-gray-25);
    padding: fluid(10, 5);
    border-radius: rem(60);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}