@use '@/styles/helpers' as *;

.wrapper {
    width: max-content;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: rem(-70);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    transition: bottom 0.35s cubic-bezier(.2,.6,.11,.96);
}

.appeared {
    bottom: fluid(40, 20);
}

.tile {
    background-color: var(--color-gray-20);
    padding: fluid(10, 5);
    border-radius: rem(60);
    box-shadow: var(--shadow);
}