@use '@/styles/helpers' as *;

.title {
    position: relative;
    display: flex;
    column-gap: fluid(5, 0);
    align-items: center;

    &::after {
        --width: #{fluid(125, 70)};
        --bottom: #{fluid(10, 5)};

        aspect-ratio: 1.62;
        width: var(--width);
        position: absolute;
        right: calc(var(--width) * -1 - rem(10));
        bottom: var(--bottom);
        display: inline-flex;
        content: '';
        background: url('@/assets/images/frog.png') center no-repeat;
        background-size: 100% 100%;

        animation-name: jumping-frog;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes jumping-frog {
    0% {
        background-size: 100% 100%;
    }

    10% {
        background-size: 100% 85%;
        bottom: var(--bottom);
        transform: rotate(0);
        animation-timing-function: ease-out;
    }

    20% {
        background-size: 85% 100%;
        bottom: fluid(200, 130);
        animation-timing-function: ease-in;
    }

    30% {
        background-size: 100% 85%;
        transform: rotate(360deg);
        bottom: var(--bottom);
        animation-timing-function: ease-out;
    }

    35% {
        background-size: 100% 100%;
    }

    100% {
        transform: rotate(360deg);
    }
}