@use '@/app/styles/helpers' as *;

.whitelist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.form {
  max-width: fluid(350, 450);
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  padding: fluid(30, 15);
  background-color: var(--color-gray-25);
  border-radius: fluid(30, 15);

  &__title {
    max-width: 75%;
    align-self: center;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);
  }

  &__disclaimer {
    line-height: 115%;
  }

  &__field {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: fluid(20, 10);
    caret-color: transparent;

    &Icon {
      @include square(fluid(60, 40));

      border-radius: fluid(10, 5);
      background-color: var(--color-gray-20);
      caret-color: transparent;
    }

    &Input {
      max-width: rem(300);
      padding-bottom: fluid(10, 5);
      border: none;
      border-bottom: border(var(--color-gray-10), 2);
      background-color: transparent;
      caret-color: transparent;

      &:focus-visible {
        outline: none;
        border-color: var(--color-accent);
        caret-color: initial;
      }

      &Error {
        border-color: var(--color-red);
      }
    }
  }
}

.error {
  grid-column: -1 / 1;
  color: var(--color-red);
  text-align: center;
}
