@use '@/app/styles/helpers' as *;

.mail {
  max-width: rem(600);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(20, 10);
  padding: fluid(50, 25);
  border-radius: fluid(50, 25);
  background-color: var(--color-gray-25);
  animation: mailFadeIn 0.5s ease 0s 1;

  @keyframes mailFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__iconWrapper {
    @include square(rem(100));

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    padding: rem(25);
    border-radius: rem(60);
  }

  &__icon {
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    align-items: center;
    -webkit-user-select: none;
    user-select: text;
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--border-split);
    margin-top: rem(30);
    padding-top: rem(10);
  }
}
