@use '@/styles/helpers' as *;

.button {
    display: flex;
    flex-direction: row;
    column-gap: fluid(15, 10);
    align-items: center;
    justify-content: center;
    align-self: center;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: border(var(--color-gray-20));
    border-radius: rem(70);
    padding-inline: fluid(30, 20);
    padding-block: fluid(15, 10);

    @include hover {
        opacity: 0.8;
    }

    &:active {
        scale: 0.95;
    }
}

.icon  {
    @include square(rem(30));
}