@use '@/styles/helpers' as *;

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: rem(7);
  align-self: end;

  @include mobile-s {
    width: 100%;
    column-gap: rem(5);
  }

  &__button {
    color: var(--color-dark);
    min-width: rem(150);
    padding: rem(8);

    @include mobile-s {
      flex-grow: 1;
    }

    svg {
      @include square(fluid(30, 20));

      path {
        fill: var(--color-dark);
      }
    }
  }
}
