@use '@/styles/helpers' as *;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--color-light);
  padding-block: fluid(20, 10);
  border-bottom: var(--border-dark);
  caret-color: transparent;

  &.sticky {
    position: sticky;
    top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: row;
    column-gap: rem(10);
    align-items: center;
    justify-content: center;
  }
}
