@use '@/styles/helpers' as *;

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: var(--color-light);
    padding-block: fluid(20, 10);
    border-bottom: var(--border-dark);
    caret-color: transparent;

    &__sticky {
        position: sticky;
        top: 0;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    height: fluid(49, 32);
    width: fluid(148, 99);
    background: url('@/assets/icons/logo.svg') center/contain no-repeat;
}

.account {
    &Link {
        @include square(#{fluid(40, 20)});

        &.loading {
            background-color: var(--color-gray-20);
            border-radius: fluid(10, 5);
        }

        &:active {
            scale: 0.9;
        }
    }
    
    &Icon {
        border-radius: fluid(10, 5);
        padding: rem(4);

        &.authorized {
            padding: 0;
        }
    }
}